USE [master]
GO
/****** Object:  Database [ProductInformation_DB]    Script Date: 5/16/2015 10:55:24 PM ******/
CREATE DATABASE [ProductInformation_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductInformation_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ProductInformation_DB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProductInformation_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ProductInformation_DB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductInformation_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductInformation_DB]
GO
/****** Object:  Table [dbo].[ProductInformationTable]    Script Date: 5/16/2015 10:55:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductInformationTable](
	[Product_ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_Code] [varchar](max) NOT NULL,
	[Product_Description] [varchar](max) NULL,
	[Product_Quantity] [varchar](max) NOT NULL,
 CONSTRAINT [PK_ProductInformationTable] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_ProductInformationTable]    Script Date: 5/16/2015 10:55:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ProductInformationTable] ON [dbo].[ProductInformationTable]
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
